*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #f7f7f7;
}


ul{
    list-style-type: none;
}

a:hover, .active {
    color:rgb(187, 27, 27);
}

a {
    color:black;
    text-decoration: none;
   
}



footer .rodape{
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/*nav{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom:1%;
}*/

